<product-card>
  <div class="product__card-container">
    <div class="product__card-content">
      <a href="{{ product.url }}" class="product-card__link">
        <img
          class="product-image"
          src="{{ product.featured_image | image_url }}"
          loading="lazy"
          width="{{ product.featured_image.width }}"
          height="{{ product.featured_image.width | divided_by: product.featured_image.aspect_ratio | round }}"
          alt="{{ alt | default: product.featured_image.alt | escape }}"
        >
      </a>

      <div class="product__title">
        <a href="{{ product.url }}">
          <h3>{{ product.title }}</h3>
        </a>

        <div class="">
          <p>
            <span>From</span>
            <span
              ><s>{{ product.price_max | money_with_currency }}</s></span
            >
            <span>
              {{-
                product.compare_at_price
                | minus: product.price
                | times: 100.0
                | divided_by: product.compare_at_price
                | round
                | minus: 100
              -}}
              %
            </span>
          </p>
          <p>{{ product.price | money_with_currency }}</p>
        </div>
      </div>

      <div class="product__badges" {{ block.shopify_attributes }}>
        {%- for tag in product.tags -%}
          {%- if tag contains 'badge__' -%}
            {%- assign badgeText = tag | split: '__' | last -%}
            <div class="product__badge">{{ badgeText }}</div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</product-card>

{% style %}
  .product__card-container {
    padding: 0.75rem 4rem;
  }

  .product__card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-items: center;
    position: relative;
  }

  a{
    text-decoration: none;
    color: #000;
  }

  ul {
    list-style: none;
  }

  .product-card__prices {
    margin-bottom: 1rem;
  }

  .product-image {
    background: #d4bcbc;
  }

  .product__badges {
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .product__badge {
  color: #fff;
  padding: 6px 22px;
  margin: 0 5px 10px 0;
  font-weight: 800;
  font-size: 12px;
  display: inline-block;
  }

  .product__badge:nth-child(odd) {
  background: #ff7575;
  }

  .product__badge:nth-child(even) {
  background: #4ca54c;
  }
{% endstyle %}
