<div>
  <div>
    {% for item in cart.items %}
      <div>
        {% render 'image', class: '', mobileSrc: item.image, desktopSrc: item.image %}
      </div>
      <div>
        <div>{{ item.title }}</div>
        {% for variant in item.variant %}
          {{ variant.title }}
        {% endfor %}
        <p>
          <s>{{ item.price_max }}</s>
          <span>{{ item.price }}</span>
          <span>{{ item.price_max | minus: item.price | times: 100 | minus: 100 }}</span>
        </p>
        <div>
          <span>+</span>
          <input type="number" value="">
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
