<link rel="stylesheet" href="{{ 'collection-cards-products.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="collection-cards-container flex">
  {% for current_product in section.settings.collections.collection_id.products %}
    <div class="collage-card">
      <div class="product_image">
        {{ current_product.featured_image | img_url: '1500x1500' }}
        <div class="product-info">
          <div class="product__title">{{ current_product.title }}</div>
          <div class="product__price">{{ current_product.price }}</div>
          <a href="{{ current_product.url }}">{{ section.settings.button_text | upcase }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% style %}
{% endstyle %}

{% schema %}
{
  "name": "Products Collage Cards",
  "tag" : "section",
  "class" : "Product Collage Cards",
  "settings" : [
        {
           "type": "collection",
           "id": "collection_id",
           "label": "Collection"
         },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "SHOP NEW IN"
          }
  ],
  "presets" : [
    {
      "name" : "Products Collage Cards"
    }
  ]
}
{% endschema %}
