{% if section.blocks.size > 0 %}
  <div class="flex cards__main-container">
    {% for block in section.blocks %}
      <div class="block__card-content-container block__card-content-container-{{ block.id }} {{ block.settings.content_alignment }}">
        <div class="block__card-image-container-{{ block.id }}">
          {% assign mobile_image = block.settings.image_mobile | default: blocks.settings.image %}
          {% render 'image', class: 'collage_content_image-{{ block.id }}', mobileSrc: mobile_image, desktopSrc: block.settings.image %}
        </div>
        <div class="block__card-content-{{ block.id }}">
          <h2>{{ block.settings.heading_text }}</h2>
          <div>{{ block.settings.paragraph_text }}</div>
          <a class="button button-{{ block.id }}">{{ block.settings.button_text | upcase }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% style %}
    {% for block in section.blocks %}
      .block__card-content-container-{{ block.id }} {
        position: relative;
      }

      .block__card-content-{{ block.id }} {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 100%
        padding: 2rem;
        display: none;
        text-wrap: wrap;
        text-align: center;
      }

      .block__card-image-container-{{ block.id }}:hover  + .block__card-content-{{ block.id }} {
        display: block;
      }

      .block__card-image-container-{{ block.id }}:hover + block__card-image-container-{{ block.id }} {
      }

      .block__card-image-container-{{ block.id }} > *:hover + .block__card-content-{{ block.id }} {
        display: block;
      }

  /*     .overlay-{{ block.id }} {
        position: absolute:
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      } */

      .button-{{ block.id }} {
        background-color: #37302c;
        color: {{ block.settings.button_text_color }};
      }

     @media screen and (max-width : 549px) {
        .cards__main-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        .block__card-content-{{ block.id }} {
          display: block;
          top: 11%;
          left: 16%;
        }
     }
    {% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Collage Cards",
  "tag": "section",
  "class" : "homepage section",
  "blocks" : [
    {
    "name" : "Collage Card",
    "type" : "collage_card",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 500px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "600 x 800px .jpg recommended"
        },
      {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            }, {
              "value": "text-center",
              "label": "Center"
            }, {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-center"
        },
        {
     "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "Shop Now"
      },
      {
            "type": "color",
            "id": "heading_text_color",
            "label": "Heading Color",
            "default": "#000"
          },
      {
            "type": "textarea",
            "id": "paragraph_text",
            "label": "Paragraph Text",
            "default": "<p>Shirts</p>"
      },
       {
            "type": "color",
            "id": "paragraph_text_color",
            "label": "Paragraph Text Color",
            "default": "#000"
          },
      {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "SHOP NEW IN"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button URL"
          }, {
            "type": "color",
            "id": "button_bcg_color",
            "label": "Button Background Color",
            "default": "#000"
          }, {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#fff"
          }

    ]
    }
  ],
  "presets" : [
        {
          "name" : "Collage Cards"
        }
      ]

}
{% endschema %}
