<link rel="stylesheet" href="{{ 'collage-cards-collection.css' | asset_url }}" media="print" onload="this.media='all'">

{% if section.settings.collection.products_count > 0 %}
  <div class="flex cards__main-container">
    {% assign handle = section.settings.collection %}
    {% for product in handle.products limit: 4 %}
      <div id="items" class="card-content-container {{ section.settings.content_alignment }}">
        <div class="card-image-container">
          {% render 'image',
            class: 'logo-img',
            mobileSrc: product.featured_image,
            desktopSrc: product.featured_image
          -%}
          <!-- <img src="{{ product.featured_image | img_url:1000 }}"> -->
        </div>
        <div class="card-content">
          <h2 class="card__heading">{{ product.title }}</h2>
          <div class="card__price">{{ product.price | money_with_currency }}</div>
          <a class="button">{{ section.settings.button_text | upcase }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% style %}
  .button {
    color: {{ section.settings.button_text_color }};
  }
{% endstyle %}

{% schema %}
{
  "name": "Collection Collage Cards",
  "tag": "section",
  "class" : "homepage section",
  "settings" : [
    {
  "type": "collection",
  "id": "collection",
  "label": "Collection"
},
    {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "SHOP NEW IN"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button URL"
          }, {
            "type": "color",
            "id": "button_bcg_color",
            "label": "Button Background Color",
            "default": "#000"
          }, {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#fff"
          },
          {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            }, {
              "value": "text-center",
              "label": "Center"
            }, {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-center"
        }
  ],
  "blocks" : [
    {
    "name" : "Collage Card",
    "type" : "collage_card",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 500px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "600 x 800px .jpg recommended"
        },
        {
     "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "Shop Now"
      },
      {
            "type": "color",
            "id": "heading_text_color",
            "label": "Heading Color",
            "default": "#000"
          },
      {
            "type": "textarea",
            "id": "paragraph_text",
            "label": "Paragraph Text",
            "default": "<p>Shirts</p>"
      },
       {
            "type": "color",
            "id": "paragraph_text_color",
            "label": "Paragraph Text Color",
            "default": "#000"
          }

    ]
    }
  ],
  "presets" : [
        {
          "name" : "Collection Collage Cards"
        }
      ]

}
{% endschema %}
