<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>

<header class="flex justify-between align-start my_header">
  <div class="header-menu">
    <ul class="flex list-unstyled g-2 linklist-menu parent">
      {% for link in section.settings.linklist.links %}
        <li>
          <a href="{{ link.url }}" class="flex align-center parent-{{ forloop.index }} parent-title">
            {{- link.title }}
            <span class="arrow-{{ forloop.index }} arrow"></span>
            {%- if link.links.size > 0 %} {% render 'icon-arrow-down' %}{% endif -%}
          </a>
          {% if link.links.size > 0 %}
            <ul class="child child-{{ forloop.index }} flex">
              {% for sub_link in link.links %}
                <li>
                  <a href="{{ sub_link.url }}" class="fw-sb">
                    {{- sub_link.title }}
                  </a>

                  {% if sub_link.links.size > 0 %}
                    <ul class="grand-child">
                      {% for child_link in sub_link.links %}
                        <li>
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                          {% assign fourth_level_handle = child_link.title | handleize | strip %}
                          <ul class="fouth-level" {{ fourth_level_handle }}>
                            {% for fourth_level in linklists[fourth_level_handle].links %}
                              <li>
                                <a href="{{ fourth_level.url }}">{{ fourth_level.title }}</a>

                                <ul class="fifth level">
                                  {% for fifth_level in fourth_level.links %}
                                    <li>
                                      <a href="{{ fifth_level.url }}">{{ fifth_level.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  <!--
    <div class='flex column'>
        <img src={{ section.settings.header_menu_image | img_url }} class="header-menu-image">
        <a href='collections/luna-collection'>{{ section.settings.header_menu_text }}</a>
    </div>
  -->

  <div class="fa-icon-block">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="logo">
    {% if section.settings.image != blank or section.settings.image_mobile != blank %}
      <a href="/">
        {%- assign mobile_image = section.settings.image_mobile | default: section.settings.image %}
        {% render 'image', class: 'logo-img', mobileSrc: mobile_image, desktopSrc: section.settings.image -%}
      </a>
    {% endif %}
  </div>

  <div class="header-icons">
    <a href="{{ routes.search_url }}">
      <svg class="hicon" id="icon-search" viewbox="0 0 18 19" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
      </svg>
    </a>

    {% comment %}
      <form action="/search" method="get" class="search-form">
        <input type="search" name="q" placeholder="Search for products" aria-label="Search">
        <button type="submit">
          <svg class="hicon" id="icon-search" viewbox="0 0 18 19" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
          </svg>
        </button>
      </form>
    {% endcomment %}

    <a href="{{ routes.account_login_url }}">
      {% render 'icon-account' class='hicon' %}
    </a>

    <a href="{{ routes.cart_url }}">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
  </div>
</header>

<script>
  let arrow = document.querySelector(".fa-bars");
  let menu = document.querySelector(".mobile-menu-container");

  arrow.addEventListener("click", ()=>{
    menu.classList.remove('mobile-show');
    // menu.classList.add('flex');
  });

  // arrow.addEventListener('click', toggleMenu);
  // function toggleMenu() {
  //   alert("hi")
  //   if (menu.style.display == 'none' {
  //     menu.style.display = flex;
  //   } else {
  //     menu.style.display = none;
  //   }
  // }

        // let arrow = document.querySelector('.arrow');
        // let child = document.querySelector('.child');

        // arrow.addEventListener('click', ()=> {
        //   child.classList.toggle('none');
        // })

        window.onscroll = function() {stickyHeader()};

        let header = document.querySelector('.my_header');
        let offset = header.offsetTop;

        function stickyHeader() {
       if (window.pageYOffset > offset) {
        header.classList.add("sticky");
       } else {
        header.classList.remove("sticky");
       }
    }
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
  "type": "link_list",
  "id": "linklist",
  "label": "Menu"
     },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1200 x 500px .jpg recommended"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)",
        "info": "600 x 800px .jpg recommended"
      },
    {
        "type": "image_picker",
        "id": "header_menu_image",
        "label": "Header Menu Image",
        "info": "1200 x 500px .jpg recommended"
      },
      {
           "type": "text",
           "id": "header_menu_text",
           "label": "Header Menu Text",
           "default": "20% off the Luna collection!"
        }
  ]
}
{% endschema %}
