<link rel="stylesheet" href="{{ 'main-cart.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="cart__main-container flex">
  {% if cart.item_count == 0 %}
    <p>Your cart looks empty.</p>
  {% else %}
  {% for item in cart.items %}
    <form action="{{ routes.cart_url }}" method="post>"
    <div class="flex cart-product-container align-center">
      <div class="cart__image">
        <img src="{{ item.product.featured_image.src | product_img_url: 'medium' }}" alt="{{ item.product.title }}">
      </div>

      <div class="flex column product__content">
         <div>
          <a class="product__tittle" href="{{ item.product.url }}">{{ item.product.title }}</a>
<!--           <a href="{{ item.product.url }}">{{ item.title }}</a> -->
          {% comment %}
          <p>{{ item.product.variant.options[0] }}: {{ item.product.variant.options[1] }}</p>
        </div>
          {% endcomment %}
    
          <div class="mb-15">
          <span><s>{{ item.product.compare_at_price_max }}</s></span>
          {% assign discounted_price = item.product.price_max | minus: item.product.price %}
           <span>{{ discounted_price | divided_by: item.product.price_max | times: 100 | minus: 100 }}% off</span>
           <span>{{ item.product.price | money }}</span>
          </div>
           
         </div>
        
        <div class="">
          <form method="post" action="/cart/change">
            <input type="hidden" name="id" value="{{ item.key }}">
            <input class="quantity__field" type="number" name="quantity" value="{{ item.quantity }}" min='1'>
            <input class="button button_update" type="submit" value="Update" class="background">
          </form>
          <div class="mb-15">
            <a href="/cart/change?line={{ forloop.index }}&quantity=0" rel="{{ item.id }}"><button class="background button button_remove">Remove Item</button></a>
          </div class="item__price">
          {{ item.line_price | money }}<br>
        <textarea class="textarea" name="note" placeholder="Add a note"></textarea>
        </div>
      </div>



        {% comment %}
        <textarea name="note"></textarea>
        <input type="attribute">
        {% endcomment %}
        
    </div>
    </form>
  {% endfor %}
  {% endif %}
<div class="cart-totals">
  <p>Subtotal: {{ cart.items_subtotal_price | money }}</p>
  <p>Shipping: {{ cart.shipping_rate.price | money }}</p>
  <p>Tax: {{ cart.total_tax | money }}</p>
  <p>Total: {{ cart.total_price | money }}</p>
</div>
</div>

{% style %}
{% endstyle %}

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
