{% comment %}
  <div class="marquee__section">
    <marquee behavior="scroll" class="marquee__text" width="100%" height="35rem" direction="left" scrollamount="10">
      {{- section.settings.marquee_text -}}
      {{- section.settings.marquee_text -}}
    </marquee>
  </div>
{% endcomment %}

<div class="marquee__section flex align-center justify-center">
  <ul class="marquee__content">
    <li>{{- section.settings.marquee_text -}}</li>
    <li>{{- section.settings.marquee_text -}}</li>
    <li>{{- section.settings.marquee_text -}}</li>
    <li>{{- section.settings.marquee_text -}}</li>
  </ul>
</div>

{% style %}
  .marquee__section {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.marquee_text_color }};
    padding: 3rem 0;
    font-size: 2.3rem;
  }

  .marquee__text {
      margin: 1rem 0;
  }

  .marquee__content {

  }
{% endstyle %}

{% schema %}
{
  "name": "Marquee Section",
  "settings": [
    {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#F5EBE9"
      },
    {
        "type": "text",
        "id": "marquee_text",
        "label": "Marquee Text",
        "default": "Sale will be live at 8pm,wishlist your products now."
      },
      {
        "type": "color",
        "id": "marquee_text_color",
        "label": "Marquee Text Color",
        "default": "#271e0a"
      }
  ],
  "presets" : [
      {
        "name": "Marquee Section"
      }
    ]
}
{% endschema %}
