<link rel="stylesheet" href="{{ 'product-review-section.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="product-review-container">
  <h2 class="heading-{{ section.id }} {{ section.settings.heading_text_alignment }}">
    {{ section.settings.heading_text | upcase }}
  </h2>
  <div class="review-blocks flex">
    {% for block in section.blocks %}
      <div class="{{ block.settings.content_alignment }} flex column review-block-content">
        <div class="">
          <span class="stars-{{ block.id }}">{{ block.settings.review_stars }} </span>
          <span class="stars-text-{{ block.id }}">{{ block.settings.review_stars | pluralize: 'Star', 'Stars' }}</span>
        </div>
        <div class="paragraph-{{ block.id }}">
          <p>
            <span>{{ block.settings.review_paragraph_text }}</span>
          </p>
        </div>
        <h3 class="author_name-{{ block.id }}">{{ block.settings.author_name }}</h3>
      </div>
      <hr class="rule-{{ forloop.index }} rule">
    {% endfor %}
  </div>
</div>

{% style %}
  .product-review-container {
    background-color: {{ section.settings.background_color }}
  }

  .heading-{{ section.id }} {
    color: {{ section.settings.heading_text_color }};
  }

  .paragraph-{{ block.id }} {
    color: {{ block.settings.review_paragraph_text_color }};
  }

  .author_name-{{ block.id }} {
    color: {{ block.settings.author_text_color }};
  }

  .rule-3 {
    display: none;
  }
{% endstyle %}

{% schema %}
{
"name" : "Product Review Section",
"tag" : "section",
"class": "productpage section",
"settings": [
         {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#f8eeeb"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Customer Feedback"
        },
        {
          "type": "color",
          "id": "heading_text_color",
          "label": "Heading Color",
          "default": "#000"
        },
         {
        "type": "select",
        "id": "heading_text_alignment",
        "label": "Heading Text alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          }, {
            "value": "text-center",
            "label": "Center"
          }, {
            "value": "text-right",
            "label": "Right"
          }
        ],
        "default": "text-center"
      }
    ],
    "blocks": [
      {
        "name" : "Product Review Block",
        "type" : "product_review_block",
        "settings" : [
          {
        "type": "select",
        "id": "content_alignment",
        "label": "Content alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          }, {
            "value": "text-center",
            "label": "Center"
          }, {
            "value": "text-right",
            "label": "Right"
          }
        ],
        "default": "text-center"
      },
          {
             "type": "range",
             "id": "review_stars",
             "min": 0,
             "max": 5,
             "step": 1,
             "label": "Review Stars",
             "default": 5
           },
          {
          "type": "color",
          "id": "stars_color",
          "label": "Stars Color",
          "default": "#000"
           },
           {
              "type": "textarea",
              "id": "review_paragraph_text",
              "label": "Paragraph Text",
              "default": "Our wedding prep photos are amazing and it's all thanks to Cannes and how amazing my bridesmaids looked."
            },
           {
          "type": "color",
          "id": "review_paragraph_text_color",
          "label": "Text Color",
          "default": "#000"
           },
          {
          "type": "text",
          "id": "author_name",
          "label": "Author Name",
          "default": "Olivia Smith"
        },
        {
          "type": "color",
          "id": "author_text_color",
          "label": "Author Text Color",
          "default": "#000"
        }
        ]
      }
    ],
  "presets" :[
    {
      "name" : "Product Review Section"
    }
  ]
}
{% endschema %}
