<link rel="stylesheet" href="{{ 'product-review-section.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="product-review-container {{ section.settings.content_alignment }}">
  <h2 class="heading-{{ section.id }} {{ section.settings.heading_text_alignment }}">
    {{ section.settings.heading_text | upcase }}
  </h2>
  <p class="stars">
    {% assign stars = section.settings.review_stars %}
    {% for i in (1..stars) %}
      <span>&#9733;</span>
    {% endfor %}
  </p>
  <p class="paragraph">{{ section.settings.review_paragraph_text }}</p>
  <h3 class="author_name">{{ section.settings.author_name }}</h3>
</div>

{% style %}
  .product-review-container {
    background-color: {{ section.settings.background_color }}
  }

  .heading {
    color: {{ section.settings.heading_text_color }};
  }

  .paragraph {
    color: {{ section.settings.review_paragraph_text_color }};
  }

  .author_name {
    color: {{ section.settings.author_text_color }};
  }
{% endstyle %}

{% schema %}
{
"name" : "Review Section",
"tag" : "section",
"class": "productpage section",
"settings": [
         {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#f8eeeb"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Customer Feedback"
        },
        {
          "type": "color",
          "id": "heading_text_color",
          "label": "Heading Color",
          "default": "#000"
        },
         {
        "type": "select",
        "id": "heading_text_alignment",
        "label": "Heading Text alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          }, {
            "value": "text-center",
            "label": "Center"
          }, {
            "value": "text-right",
            "label": "Right"
          }
        ],
        "default": "text-center"
      },
       {
        "type": "select",
        "id": "content_alignment",
        "label": "Content alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          }, {
            "value": "text-center",
            "label": "Center"
          }, {
            "value": "text-right",
            "label": "Right"
          }
        ],
        "default": "text-center"
      },
          {
             "type": "range",
             "id": "review_stars",
             "min": 0,
             "max": 5,
             "step": 1,
             "label": "Review Stars",
             "default": 5
           },
          {
          "type": "color",
          "id": "stars_color",
          "label": "Stars Color",
          "default": "#000"
           },
           {
              "type": "textarea",
              "id": "review_paragraph_text",
              "label": "Paragraph Text",
              "default": "Our wedding prep photos are amazing and it's all thanks to Cannes and how amazing my bridesmaids looked."
            },
           {
          "type": "color",
          "id": "review_paragraph_text_color",
          "label": "Text Color",
          "default": "#000"
           },
          {
          "type": "text",
          "id": "author_name",
          "label": "Author Name",
          "default": "Olivia Smith"
        },
        {
          "type": "color",
          "id": "author_text_color",
          "label": "Author Text Color",
          "default": "#000"
        }
    ],
  "presets" :[
    {
      "name" : "Review Section"
    }
  ]
}
{% endschema %}
