<link rel="stylesheet" href="{{ 'component-slideshow_1.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="slideshow">
  <div
    class="slideshow__wrapper"
    data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay": 4000, "pauseAutoPlayOnHover": false }'
  >
    {% for block in section.blocks %}
      <div class="slideshow__item">
        <div class="slideshow__image-container">
          {% assign mobile_image = block.settings.image_mobile | default: blocks.settings.image %}
          {% render 'image', class: '', mobileSrc: mobile_image, desktopSrc: block.settings.image %}
        </div>
        <div class="slideshow__content">
          <div class="flex height-full page-width {{ block.settings.content_position}}">
            <div class="max-width {{ block.settings.content_alignment }} flex column">
              <h3 class="heading-{{block.id }}">{{ block.settings.heading_text }}</h3>
              <h1 class="para-{{block.id }}">{{ block.settings.para_text }}</h1>
              <div class="button-container">
                {% if block.settings.button_text_1 != blank or block.settings.button_link_1 != blank %}
                  <a>
                    <button class="button-{{ block.id }}-1">{{ block.settings.button_text_1 }}</button>
                  </a>
                {% endif %}
                {% if block.settings.button_text_2 != blank or block.settings.button_link_2 != blank %}
                  <a>
                    <button class="button-{{ block.id }}-2 button-2 button--primary">
                      {{ block.settings.button_text_2 }}
                    </button>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% style %}
  {% for block in section.blocks %}
    .heading-{{ block.id}}{
      color: {{ block.settings.heading_text_color}}
      ;
    }

    .para-{{ block.id}}{
      color: {{ block.settings.para_text_color}}
      ;
    }

    .button-{{ block.id}}-1 {
      background-color: {{ block.settings.button_bcg_color_1}}
      ;
      color: {{ block.settings.button_text_color_1}}
      ;
      border: none;
      border-radius: 0.2rem;
      padding: 0.9rem 1.2rem;
      font-weight: 700;
      bodrer-left: 1px solid #ffff;
      border-top: 2px solid #ffff;
    }

    .button-{{ block.id}}-1: hover {
      background-color: #a9a9a9;
      color: #fff;
    }

    .button-{{ block.id}}-2: hover {
      background-color: #a9a9a9;
      color: #fff;
    }

    .button-{{ block.id}}-1 {
      padding: 1rem 1.5rem;
    }

    .button-2 {
      background-color: {{ block.settings.button_bcg_color_2}}
      ;
      color: {{ block.settings.button_text_color_2}}
      ;
      border: 1px solid #fff;
      border-radius: 0.2rem;
      padding: 0.9rem 1.2rem;
      margin-left: 2rem;
      font-weight: 750;
    }

   @media screen and (max-width: 749px) {
     .heading-{{ block.id}} {
       font-size: 2.5rem;
     }

     .para-{{ block.id}}{
       font-size: 2.3rem;
     }

     .button-{{ block.id }}-1, .button-{{ block.id}}-2 {
       padding: 1rem 1.2rem;
       font-size: 0.95rem;
     }
   }

  {% endfor %}
{% endstyle %}

{% schema %}
{
  "name": "Custom Slideshow",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 6,
  "blocks": [
    {
      "type": "slideshow-block",
      "name": "slideshow-block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 500px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "600 x 800px .jpg recommended"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "TIMELESS WHITES"
        },
        {
          "type": "color",
          "id": "heading_text_color",
          "label": "Heading Color",
          "default": "#fff"
        }, {
          "type": "text",
          "id": "para_text",
          "label": "Pragraph Text",
          "default": "Discover our Juliette white cotton linen collection"
        }, {
          "type": "color",
          "id": "para_text_color",
          "label": "Para Color",
          "default": "#fff"
        }, {
          "type": "text",
          "id": "button_text_1",
          "label": "Button Text 1",
          "default": "SHOP NOW"
        }, {
          "type": "url",
          "id": "button_link_1",
          "label": "Button URL 1"
        }, {
          "type": "color",
          "id": "button_bcg_color_1",
          "label": "Button Background Color 1",
          "default": "#f7e6e6"
        }, {
          "type": "color",
          "id": "button_text_color_1",
          "label": "Button Text Color 1",
          "default": "#000"
        }, {
          "type": "text",
          "id": "button_text_2",
          "label": "Button Text 2",
          "default": "SHOP ALL"
        }, {
          "type": "url",
          "id": "button_link_2",
          "label": "Button URL"
        }, {
          "type": "color",
          "id": "button_bcg_color_2",
          "label": "Button Background Color 2",
          "default": "#f7e6e6"
        }, {
          "type": "color",
          "id": "button_text_color_2",
          "label": "Button Text Color 2",
          "default": "#000"
        }, {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "align-start justify-start",
              "label": "Top left"
            },
            {
              "value": "align-start justify-center",
              "label": "Top center"
            },
            {
              "value": "align-start justify-end",
              "label": "Top right"
            },
            {
              "value": "align-center justify-start",
              "label": "Middle left"
            }, {
              "value": "align-center justify-center",
              "label": "Middle center"
            }, {
              "value": "align-center justify-end",
              "label": "Middle right"
            }, {
              "value": "align-end justify-start",
              "label": "Bottom left"
            }, {
              "value": "align-end justify-center",
              "label": "Bottom center"
            }, {
              "value": "align-end justify-end",
              "label": "Bottom right"
            }
          ],
          "default": "align-end justify-end"
        }, {
          "type": "select",
          "id": "content_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "align-start justify-start text-left",
              "label": "Left"
            }, {
              "value": "align-center justify-center text-center",
              "label": "Center"
            }, {
              "value": "align-end justify-end text-right",
              "label": "Right"
            }
          ],
          "default": "align-start justify-start text-left"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Slideshow"
    }
  ]
}
{% endschema %}
